{% extends 'base.html' %}

{% block title %} About Vertical Tank Maintenance {% endblock %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% block body %}

<h1>
    <p style="text-align: center;">Create An Estimate</p>
</h1>


<nav>

    <div style="text-align: center;">
        <a href="./">Home</a>
        <a href="./about">About</a>
        <a href="./estimate">Estimator</a>


    </div>

</nav>
<form action="/calculate" method="POST">
    <label for="numOne">
        Radius: <input type="text" id="numOne" name="numOne" required autofocus>
    </label>
    <br><br>
    <label for="numTwo">
        Height: <input type="text" id="numTwo" name="numTwo" required>
    </label>

    <input type="submit" value="Calculate">
</form>

{% if myValue %}
<p>The total estimated cost is ${{ myValue }}</p>
{% endif %}

{% endblock %}